.box {
  width: 70px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(14, 18, 31) 2px 2px 5px 0px inset,
  rgb(15, 18, 31)-2px -2px 5px 1px inset;
}
.box:before {
  content: "";
  position: absolute;
  width: 200px;
  background: #facc15;
  height: 230px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30%;
  animation: fill 5s ease-in-out infinite alternate;
}

@keyframes fill {
  from {
    top: calc(100% - var(--dynamicTop));
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: calc(100% - var(--dynamicTop));
    transform: translateX(-50%) rotate(20deg);
  }
}
