@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
  overflow-y: auto;
  background: #f1f1f1;
}

p{
  color: rgba(32, 31, 31, 0.925);
  letter-spacing: 1.1px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 