@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
  overflow-y: auto;
  background: #f1f1f1;
}

p{
  color: rgba(32, 31, 31, 0.925);
  letter-spacing: 1.1px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-base {
  @apply w-full bg-[#F1F1F1] my-1.5 py-2.5 px-1 rounded-md shadow-md placeholder:capitalize outline-none focus:shadow-md transition-all duration-75 focus:border-l-4;
}
.base-btn{
  @apply btn bg-gray-800 hover:bg-gray-900 text-white 
}